<div class="main">
  <main>
    {{> navbar}}
    <div>
      <h1>Chat</h1>
      <div>
        <div>
          <div id="messagesPool"></div>
          <form id="formMessage">
            <input id="usernameInput" type="email" placeholder="Email de usuario" required />
            <input id="messageInput" type="text" placeholder="Mensaje" required />
            <input type="submit" value="Enviar" />
          </form>
        </div>
      </div>
    </div>
  </main>
</div>