{{> navbar}}
<div class="dFlexCenterForm">
    <div class="userInfo">
        <h1>Bienvenido {{username}}</h1>
        <h2>Datos personales:</h2>
        <h2>Nombre: {{name}}</h2>
        <h2>Edad: {{age}}</h2>
        <h2>Tlf: {{phone}}</h2>
    </div>
</div>

