<nav class='d-flex justify-content-center bg-dark bg-gradient'>
  <a href='/account' class='btn btn-outline-light m-3'>Mi perfil</a>
  <a href='/chat' class='btn btn-outline-light m-3'>Chat</a>
  <a href='/logout' class='btn btn-outline-light m-3'>Salir</a>
</nav>